@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
}

ul, ol {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul, ol,
li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

button {
  border: none;
  background-color: #FFFFFF;
}

body {
  position: relative;
}

@font-face {
  font-family: "Balsamiq-Regular";
  src: url("../../../../commons/assets/fonts/balsamiq/BalsamiqSans-Regular.ttf");
}

.home {
  width: 100%;
  height: 100%;
  padding: 135px 0 180px 0;
  background-color: #9FC5F8;
}

.home__navigation {
  width: 100%;
  height: 100%;
  background-image: url(../images/background_001.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home__navigation__wrapper {
  max-width: 535px;
  height: auto;
  padding: 60px 0 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  border: 3px solid #000000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: #EB4C42;
  transition: 0.3s;
}

.link__image {
  max-width: 250px;
  height: auto;
  background-color: inherit;
}

.link__text {
  padding: 20px 35px;
  font-family: "Balsamiq-Regular";
  font-size: 24px;
  text-align: center;
  background-color: inherit;
  border-top: 3px solid #000000;
}

@media (max-width: 768px) {
  .home__navigation__wrapper {
    padding: 50px 0 80px 0;
  }

  .link {
    max-width: 200px;
    border: 2px solid #000000;
  }
  
  .link__image {
    max-width: 200px;
  }

  .link__text {
    padding: 15px 25px;
    font-size: 20px;
    border-top: 2px solid #000000;
  }
}

@media (max-width: 456px) {
  .home__navigation__wrapper {
    padding: 30px 0 60px 0;
    flex-direction: column;
    align-items: center;
  }

  .link {
    max-width: 100%;
    margin: 20px 0;
  }
  
  .link__image {
    max-width: 100%;
  }

  .link__text {
    padding: 25px 10px;
    font-size: 18px;
  }
}