.footer {
  width: 100%;
  min-height: 80px;
  background-color: #9FC5F8;
}

@media (max-width: 768px) {
  .header {
    min-height: 70px;
  }
}

@media (max-width: 456px) {
  .header {
    min-height: 60px;
  }
}